
body {
  background-color: lightblue;
}
h1 {
  color: pink;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #363636;

  margin-right: 150px;
  margin-left: 80px;
}


.current {
    color: black;
  }


.myHeader a {
  text-decoration: none;
}
  
.myHeader {
    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;

  }

.navLink {
  margin-right: 5px;
  margin-left: 5px;

  text-transform: lowercase;

  color: hotpink;
  font-size: 20px;
  font-family: “Neue Haas Grotesk Display Pro”, “Helvetica Neue”, Helvetica, sans-serif;
  //text-align: center;
  font-weight: bold;

   /* unvisited link */
  a:link {
    color:  #666666 ;
  }

  /* visited link */
  a:visited {
    color:  #666666 ;
  }

  /* mouse over link */
  a:hover {
    color:  #363636 ;
  }

  /* selected link */
  a:active {
    color: blue;
  } 
  
}

.myFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}



  /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}