
body {
  background-color: white;
}
h1 {
  color: #2e2e2e;
  text-align: center;
  font-family: “Neue Haas Grotesk Display Pro”, “Helvetica Neue”, Helvetica, sans-serif;
  font-size: 35px;
}

p {
  font-family: “Neue Haas Grotesk Display Pro”, “Helvetica Neue”, Helvetica, sans-serif;
  font-size: 17px;
  color: #2e2e2e;

}





// Nav Bar Shit

// This code bolds the current page title, but doesnt work all the way yet
.current, .current:visited {
    color: #2e2e2e;
    font-weight: bold;
  }

// This removes color and underlines from the nav bar links
.myHeader a {
  text-decoration: none;
}

// This positions the header  
.myHeader {
    margin-top: 40px;
    margin-bottom: 40px;

    text-align: center;

  }

// This is the bulk of the nav bar shit
.navLink {
  margin-right: 1.25%;
  margin-left: 1.25%;

  text-transform: lowercase;

  color: #2e2e2e;
  font-size: 20px;
  font-family: “Neue Haas Grotesk Display Pro”, “Helvetica Neue”, Helvetica, sans-serif;
  //text-align: center;
  //font-weight: bold;

   /* unvisited link */
  a:link {
    color:  #666666 ;
  }

  /* visited link */
  a:visited {
    color:  #666666 ;
  }

  /* mouse over link */
  a:hover {
    color:  #2e2e2e ;
  }

  /* selected link */
  a:active {
    color: blue;
  } 
  
}


.myFooter {
  position: fixed;
  left: 20%;
  bottom: 75px;
  width: 60%;
  background-color: white;
  color: #666666;
  text-align: left;
}

  /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}




//This code is for the about page

// This code crops the profile picture
.image-cropper {
  margin-left: 0%;
  margin-top: 0%;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -15%; //centers the image
  height: 200%;
  width: auto;
}

.padder {
  padding: 25px;
}

.textSizer1 {
  width: 400px;
  margin-left: 35px;
}

// This is some code I stole off the internet that puts two divs next to eachother
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //background-color: dodgerblue;
}




